letter-container
  h1 Create Story

  b What kind of Story do you want to create?
  br
  select#kind
    option Text
    option Bullet Points
    option Picture

  br
  br

  input-container

    b Caption:


  preview-container
    c-preview-story
