component-body {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgb(248, 245, 245);
  overflow: auto;
}

letter-container {
  position: relative;
  display: inline-block;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(40% + 200px);
  max-width: 100%;
  min-height: 70%;
  margin-top: 30vh;
  background: white;
  border-radius: 20px 20px 0 0;
  box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.07);
  padding: 30px 50px;
  box-sizing: border-box;
}

input-container {
  width: 50%;
  position: relative;
  float: left;
  min-height: 100px;
  box-sizing: border-box;
  padding-right: 10%;
}


button:first-of-type {
  margin-right: 20px;
}


textarea, input {
  width: 80%
}

textarea {
  height: 80px;
}

export-container {
  width: 100%;
  display: block;
  position: relative;
  float: left;
}

export-container img {
  max-width: 100%;
}

preview-container {
  position: relative;
  float: left;
  min-height: 100px;
  box-sizing: border-box;
  margin-left: 10%;
}

preview-container > * {
  /* transform: scale(.12);
  transform-origin: top left; */
  zoom: .12;
  display: block;
}
