letter-container
  h1 Create Story

  b What kind of Story do you want to create?
  br
  select#kind
    option(value="text") Text
    option(value="bullet") Bullet Points
    //- option(value="img") Picture

  br
  br

  input-container



  preview-container

  export-container
    br
    button#downloadLocally Download Locally
    button#downloadServerSide Download Server Side
    
