<div id="Story_text___1">
	<img id="hell" src="/res/img/hell.png">
	<svg class="Rectangle_124">
		<rect fill="rgba(255,255,255,1)" id="Rectangle_124" rx="0" ry="0" x="0" y="0" width="1875" height="3333">
		</rect>
	</svg>
	<div id="Group_52">
		<svg class="Rectangle_98_cl">
			<linearGradient id="Rectangle_98_cl" spreadMethod="pad" x1="0" x2="1" y1="0.5" y2="0.5">
				<stop offset="0" stop-color="#fff" stop-opacity="1"></stop>
				<stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
			</linearGradient>
			<rect fill="url(#Rectangle_98_cl)" id="Rectangle_98_cl" rx="0" ry="0" x="0" y="0" width="1298" height="768">
			</rect>
		</svg>
		<svg class="Rectangle_99">
			<rect fill="rgba(255,255,255,1)" id="Rectangle_99" rx="0" ry="0" x="0" y="0" width="1725" height="751">
			</rect>
		</svg>
	</div>
	<div id="Group_135">
		<div id="Group_48">
			<div id="Group_17">
				<svg class="Path_85_cr" viewBox="-4.945 -1.474 178.477 113.652">
					<linearGradient id="Path_85_cr" spreadMethod="pad" x1="0.434" x2="0.412" y1="0.846" y2="0.224">
						<stop offset="0" stop-color="#579aff" stop-opacity="1"></stop>
						<stop offset="1" stop-color="#1a74fc" stop-opacity="1"></stop>
					</linearGradient>
					<path fill="url(#Path_85_cr)" id="Path_85_cr" d="M 33.71330642700195 -1.264711618423462 C 49.75045776367188 0.4406234622001648 60.39374160766602 7.047287464141846 68.066650390625 14.44579792022705 C 75.73954010009766 21.84431266784668 173.5321044921875 95.48123168945313 173.5321044921875 95.48123168945313 C 173.5321044921875 95.48123168945313 154.6471405029297 105.7211380004883 145.5812377929688 109.8084030151367 C 136.5153656005859 113.8956451416016 113.2773590087891 113.6964111328125 99.43154907226563 101.1029434204102 C 85.58576202392578 88.50946044921875 59.46379852294922 61.33443832397461 40.82904815673828 41.82157897949219 C 22.19426727294922 22.30871200561523 -7.128914833068848 6.939188480377197 -4.816337108612061 2.799230337142944 C -3.155102014541626 -0.304065465927124 25.72676277160645 -2.113970041275024 33.71330642700195 -1.264711618423462 Z">
					</path>
				</svg>
				<svg class="Path_86_ct" viewBox="0 0 225.571 123.378">
					<linearGradient id="Path_86_ct" spreadMethod="pad" x1="0.345" x2="0.361" y1="0.637" y2="0.194">
						<stop offset="0" stop-color="#579aff" stop-opacity="1"></stop>
						<stop offset="1" stop-color="#1a74fc" stop-opacity="1"></stop>
					</linearGradient>
					<path fill="url(#Path_86_ct)" id="Path_86_ct" d="M 46.47847366333008 2.439529895782471 C 74.76968383789063 -7.57194709777832 113.878288269043 16.0951042175293 121.5445556640625 21.83817863464355 C 129.2108612060547 27.58125877380371 225.5712738037109 103.7263336181641 225.5712738037109 103.7263336181641 C 225.5712738037109 103.7263336181641 204.2983551025391 117.2946319580078 194.3554534912109 120.5447692871094 C 184.4124908447266 123.7949371337891 175.0046539306641 125.5100555419922 165.9077911376953 118.5555267333984 C 156.8110046386719 111.6010284423828 107.7891387939453 68.02462005615234 88.037841796875 50.18910217285156 C 79.11137390136719 42.27649307250977 62.75252151489258 28.78446578979492 44.93040466308594 24.5778636932373 C 21.99394989013672 19.16366004943848 -1.266790628433228 23.80369758605957 0.05369589105248451 21.43977546691895 C 1.714930891990662 18.33647918701172 33.97175216674805 6.602681159973145 46.47847366333008 2.439529895782471 Z">
					</path>
				</svg>
				<svg class="Path_87_cv" viewBox="0 0 258.886 129.803">
					<linearGradient id="Path_87_cv" spreadMethod="pad" x1="0.519" x2="0.499" y1="0.353" y2="0.532">
						<stop offset="0" stop-color="#1a74fc" stop-opacity="1"></stop>
						<stop offset="1" stop-color="#579aff" stop-opacity="1"></stop>
					</linearGradient>
					<path fill="url(#Path_87_cv)" id="Path_87_cv" d="M 134.7257537841797 8.278157234191895 C 148.2013549804688 17.77167129516602 258.8863830566406 106.785514831543 258.8863830566406 106.785514831543 C 258.8863830566406 106.785514831543 228.8254699707031 126.1662445068359 222.6349334716797 129.1982727050781 C 218.2415466308594 131.3063659667969 212.8938903808594 127.3360748291016 211.5184020996094 125.9063949584961 C 207.2599945068359 121.480110168457 178.6015472412109 99.22663116455078 122.1986541748047 50.1005859375 C 65.79569244384766 0.9746345281600952 1.479365825653076 46.63703536987305 0.03409848362207413 44.43349075317383 C -1.606314778327942 41.93284225463867 56.4866828918457 10.71754360198975 56.4866828918457 10.71754360198975 C 85.17717742919922 -5.096127033233643 121.250114440918 -1.215356826782227 134.7257537841797 8.278157234191895 Z">
					</path>
				</svg>
			</div>
		</div>
		<div id="Taskforce">
			<span>Taskforce</span>
		</div>
	</div>
	<div id="Group_139">
		<div id="flower">
			<svg class="Path_210" viewBox="303.672 545.403 45.125 135.896">
				<path fill="rgba(62,60,84,1)" id="Path_210" d="M 307.6980895996094 679.3779907226563 C 311.0371398925781 643.420166015625 320.2589111328125 608.2546997070313 334.9955139160156 575.2857055664063 C 339.1023559570313 566.111083984375 343.6227111816406 557.1383666992188 348.5565185546875 548.3674926757813 C 349.0706481933594 547.414306640625 348.7368774414063 546.2249755859375 347.8016662597656 545.67822265625 C 346.8664855957031 545.1317138671875 345.6664123535156 545.4244384765625 345.087890625 546.3401489257813 C 327.1458435058594 578.2854614257813 314.5760803222656 612.9623413085938 307.88134765625 648.9846801757813 C 306.0190734863281 659.0438842773438 304.6194458007813 669.1743774414063 303.682373046875 679.3757934570313 C 303.4442749023438 681.9488525390625 307.462890625 681.9325561523438 307.6994934082031 679.3757934570313 Z">
				</path>
			</svg>
			<svg class="Ellipse_36">
				<ellipse fill="rgba(52,132,253,1)" id="Ellipse_36" rx="25.44175148010254" ry="25.44175148010254" cx="25.44175148010254" cy="25.44175148010254">
				</ellipse>
			</svg>
			<svg class="Path_211" viewBox="305.158 563.067 29.275 88.163">
				<path fill="rgba(62,60,84,1)" id="Path_211" d="M 307.7709045410156 649.98193359375 C 309.9369201660156 626.6549682617188 315.919189453125 603.842041015625 325.4790649414063 582.453857421875 C 328.1434631347656 576.5018920898438 331.0759887695313 570.680908203125 334.2767944335938 564.9907836914063 C 334.6102905273438 564.3721923828125 334.3937072753906 563.6005859375 333.7869567871094 563.245849609375 C 333.1802062988281 562.8910522460938 332.401611328125 563.0811157226563 332.0263671875 563.6754150390625 C 320.386474609375 584.3997192382813 312.23193359375 606.8963012695313 307.8888549804688 630.2656860351563 C 306.6806945800781 636.7916259765625 305.7726745605469 643.3637084960938 305.164794921875 649.98193359375 C 305.0103454589844 651.6511840820313 307.617431640625 651.640625 307.7709045410156 649.98193359375 Z">
				</path>
			</svg>
			<svg class="Ellipse_37">
				<ellipse fill="rgba(52,132,253,1)" id="Ellipse_37" rx="16.505250930786133" ry="16.505250930786133" cx="16.505250930786133" cy="16.505250930786133">
				</ellipse>
			</svg>
			<svg class="Path_212" viewBox="292.34 563.419 34.188 86.552">
				<path fill="rgba(62,60,84,1)" id="Path_212" d="M 326.3047180175781 647.8229370117188 C 313.6651611328125 628.097900390625 304.3507080078125 606.4308471679688 298.7334594726563 583.6868286132813 C 297.1734008789063 577.3550415039063 295.9053955078125 570.96142578125 294.9295043945313 564.50634765625 C 294.8124084472656 563.813232421875 294.1669311523438 563.337646484375 293.47021484375 563.4312744140625 C 292.7734069824219 563.5247802734375 292.2762756347656 564.1537475585938 292.34619140625 564.8534545898438 C 295.9150695800781 588.3533325195313 303.3221130371094 611.10693359375 314.2712097167969 632.2045288085938 C 317.3323974609375 638.0930786132813 320.6586303710938 643.833740234375 324.2498168945313 649.4259033203125 C 325.1547241210938 650.8370971679688 327.2039184570313 649.225341796875 326.3047180175781 647.8229370117188 Z">
				</path>
			</svg>
			<svg class="Ellipse_38">
				<ellipse fill="rgba(52,132,253,1)" id="Ellipse_38" rx="16.505250930786133" ry="16.505250930786133" cx="16.505250930786133" cy="16.505250930786133">
				</ellipse>
			</svg>
		</div>
		<div id="Group_133">
			<svg class="Path_215" viewBox="568.946 589.293 19.97 43.898">
				<path fill="rgba(63,61,86,1)" id="Path_215" d="M 583.7398071289063 633.1907348632813 C 581.1507568359375 633.1951904296875 578.9617919921875 631.2745971679688 578.62939453125 628.7069091796875 C 577.5637817382813 619.839599609375 571.6903686523438 602.4717407226563 569.2149658203125 595.4172973632813 L 569.2142944335938 595.4146728515625 C 568.7055053710938 593.9915771484375 568.9278564453125 592.4093627929688 569.8092651367188 591.1815185546875 C 570.64892578125 590.0877685546875 571.9161987304688 589.405029296875 573.2915649414063 589.3057861328125 C 574.6668701171875 589.206298828125 576.0188598632813 589.6998291015625 577.0070190429688 590.66162109375 C 577.8888549804688 591.5863037109375 578.3471069335938 592.8353881835938 578.2723388671875 594.1109008789063 C 577.7874145507813 603.1656494140625 584.3877563476563 617.7967529296875 588.3656005859375 625.7138061523438 C 589.1279907226563 627.2288818359375 589.0968627929688 629.02197265625 588.2818603515625 630.5094604492188 C 587.4671020507813 631.996826171875 585.9728393554688 632.988525390625 584.2854614257813 633.1613159179688 C 584.1043701171875 633.1817016601563 583.9223022460938 633.1914672851563 583.7400512695313 633.1907348632813 Z">
				</path>
			</svg>
			<svg class="Path_216" viewBox="573.419 589 31.601 32.163">
				<path fill="rgba(63,61,86,1)" id="Path_216" d="M 599.9375 613.7158203125 C 611.1090698242188 604.5723876953125 602.3441162109375 585.8602294921875 588.3619384765625 589.452392578125 C 586.480712890625 589.9017333984375 584.7464599609375 590.82666015625 583.3253173828125 592.1387939453125 C 574.7483520507813 600.2411499023438 573.419189453125 620.9715576171875 573.419189453125 620.9715576171875 C 573.419189453125 620.9715576171875 588.565673828125 623.0230712890625 599.9375 613.7158203125 Z">
				</path>
			</svg>
		</div>
	</div>
	<div id="Group_136">
		<svg class="Path_249" viewBox="0 0 1577 2591" style="width: 100%">
			<path style="transform: translateY(-104px);" fill="rgba(247,247,247,1)" id="Path_249" d="M 70 0 L 1507 0 C 1545.659912109375 0 1577 31.34006500244141 1577 70 L 1577 2521 C 1577 2559.659912109375 1545.659912109375 2591 1507 2591 L 70 2591 C 31.34006500244141 2591 0 2559.659912109375 0 2521 L 0 70 C 0 31.34006500244141 31.34006500244141 0 70 0 Z">
			</path>
		</svg>
		<div id="headingelem">
			<span id="heading">Schulschließung</span>
		</div>
		<div id="summaryelem">
			<span id="summary">Leider werden die Schulen kommenden Montag geschlossen.</span>
		</div>
		<svg height="7" viewBox="0 0 1298 7" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 100%" id="line">
			<rect width="1298" height="7" rx="3.5" fill="#C4C4C4"/>
		</svg>

		<div id="contentelem">
			<span id="content">Leider werden die Schulen kommenden Montag geschlossen.</span>
		</div>




		<svg class="Rectangle_138">
			<rect fill="transparent" id="Rectangle_138" rx="0" ry="0" x="0" y="0" width="1297" height="140">
			</rect>
		</svg>
		<svg class="Rectangle_131">
			<rect fill="transparent" id="Rectangle_131" rx="0" ry="0" x="0" y="0" width="140" height="2096">
			</rect>
		</svg>
		<svg class="Rectangle_137">
			<rect fill="transparent" id="Rectangle_137" rx="0" ry="0" x="0" y="0" width="140" height="2096">
			</rect>
		</svg>
	</div>
	<svg class="Path_224" viewBox="442.282 523.608 935.218 827.804">
		<path fill="rgba(63,61,86,1)" id="Path_224" d="M 1377.5 1126.5927734375 C 1369.6630859375 1138.19677734375 1361.24853515625 1149.607666015625 1352.488525390625 1160.508056640625 L 1347.14501953125 1156.217041015625 C 1355.7861328125 1145.4609375 1364.088623046875 1134.203857421875 1371.819091796875 1122.75634765625 L 1377.5 1126.5927734375 Z M 1324.751708984375 1192.232666015625 C 1315.114013671875 1202.37353515625 1304.9287109375 1212.236328125 1294.48193359375 1221.5478515625 L 1289.920166015625 1216.43017578125 C 1300.228515625 1207.245361328125 1310.275634765625 1197.516357421875 1319.78271484375 1187.5126953125 L 1324.751708984375 1192.232666015625 Z M 1261.88720703125 1248.251953125 C 1250.726318359375 1256.650146484375 1239.060546875 1264.698974609375 1227.212158203125 1272.17919921875 L 1223.552001953125 1266.382568359375 C 1235.24462890625 1259.00390625 1246.754638671875 1251.060546875 1257.765869140625 1242.77587890625 L 1261.88720703125 1248.251953125 Z M 1187.519775390625 1287.13330078125 L 1190.69677734375 1293.204833984375 C 1178.280517578125 1299.700927734375 1165.4658203125 1305.753662109375 1152.611572265625 1311.1953125 L 1149.939453125 1304.882568359375 C 1162.625 1299.5146484375 1175.26806640625 1293.543701171875 1187.519775390625 1287.13330078125 Z M 1111.03271484375 1319.4931640625 L 1113.175048828125 1326.00341796875 C 1099.8857421875 1330.3759765625 1086.250732421875 1334.245361328125 1072.6484375 1337.50390625 L 1071.05078125 1330.83740234375 C 1084.47216796875 1327.624267578125 1097.924072265625 1323.80615234375 1111.034912109375 1319.4921875 Z M 1030.2646484375 1338.828369140625 L 1031.30224609375 1345.602294921875 C 1017.468688964844 1347.720458984375 1003.369812011719 1349.283935546875 989.3989868164063 1350.248779296875 L 988.9265747070313 1343.41064453125 C 1002.712707519531 1342.459716796875 1016.618225097656 1340.91845703125 1030.267333984375 1338.82763671875 Z M 557.1464233398438 527.8432006835938 C 548.6250610351563 538.6840209960938 540.4458618164063 550.0259399414063 532.8357543945313 561.5559692382813 L 527.1154174804688 557.7796020507813 C 534.8298950195313 546.0924682617188 543.1200561523438 534.5951538085938 551.7573852539063 523.6079711914063 L 557.1464233398438 527.8432006835938 Z M 947.3582153320313 1344.558837890625 L 947.2649536132813 1351.41162109375 C 933.2807006835938 1351.218994140625 919.1226196289063 1350.439697265625 905.1824340820313 1349.09619140625 L 905.8402709960938 1342.275390625 C 919.5922241210938 1343.600830078125 933.5625610351563 1344.3701171875 947.3582153320313 1344.558837890625 Z M 511.3892211914063 597.1621704101563 C 504.7639770507813 609.2656860351563 498.5582885742188 621.7990112304688 492.9461059570313 634.4130249023438 L 486.6829223632813 631.6256713867188 C 492.3726196289063 618.8407592773438 498.6626586914063 606.1386108398438 505.3776245117188 593.8724975585938 L 511.3892211914063 597.1621704101563 Z M 864.6492309570313 1336.587646484375 L 863.4341430664063 1343.33447265625 C 849.6610717773438 1340.852294921875 835.8251342773438 1337.769775390625 822.3056030273438 1334.169921875 L 824.0681762695313 1327.54833984375 C 837.4099731445313 1331.0986328125 851.0619506835938 1334.138916015625 864.6519165039063 1336.587646484375 Z M 477.6157836914063 673.0524291992188 C 473.0525512695313 686.0861206054688 468.9757690429688 699.4662475585938 465.4978637695313 712.8225708007813 L 458.8649291992188 711.0949096679688 C 462.3906860351563 697.5587768554688 466.5220336914063 683.9973754882813 471.1453247070313 670.7890014648438 L 477.6157836914063 673.0524291992188 Z M 784.3660278320313 1315.2177734375 L 782.0676879882813 1321.673095703125 C 768.8900756835938 1316.981201171875 755.7427368164063 1311.683349609375 742.9915161132813 1305.92724609375 L 745.8109741210938 1299.6806640625 C 758.3949584960938 1305.361328125 771.3650512695313 1310.58837890625 784.3660278320313 1315.2177734375 Z M 456.6771850585938 753.4508666992188 C 454.3031616210938 767.0532836914063 452.4646606445313 780.9215698242188 451.2140502929688 794.6670532226563 L 444.3871459960938 794.0470581054688 C 445.6560668945313 780.1134643554688 447.5182495117188 766.0599975585938 449.9242553710938 752.2734985351563 L 456.6771850585938 753.4508666992188 Z M 708.6704711914063 1281.03857421875 L 705.3475952148438 1287.031982421875 C 693.1061401367188 1280.244140625 681.0077514648438 1272.8681640625 669.3866577148438 1265.107666015625 L 673.1937866210938 1259.408447265625 C 684.6575317382813 1267.0654296875 696.5935668945313 1274.343505859375 708.6704711914063 1281.03857421875 Z M 449.1538696289063 836.1909790039063 C 449.0398559570313 850.0169067382813 449.5017700195313 863.9984741210938 450.5269165039063 877.7467651367188 L 443.6904907226563 878.2567749023438 C 442.6530151367188 864.3202514648438 442.1854858398438 850.1486206054688 442.2990112304688 836.1354370117188 L 449.1538696289063 836.1909790039063 Z M 639.6282348632813 1234.92919921875 L 635.3652954101563 1240.29541015625 C 624.4164428710938 1231.593017578125 613.7015991210938 1222.328369140625 603.5192260742188 1212.7578125 L 608.2142944335938 1207.764404296875 C 618.2575073242188 1217.20556640625 628.8268432617188 1226.34619140625 639.6272583007813 1234.92919921875 Z M 455.3302612304688 919.0494995117188 C 457.4924926757813 932.6787719726563 460.2560424804688 946.3923950195313 463.5447387695313 959.8074340820313 L 456.8887329101563 961.4376831054688 C 453.5548706054688 947.8407592773438 450.7528686523438 933.9402465820313 448.5609741210938 920.1226196289063 L 455.3302612304688 919.0494995117188 Z M 579.1388549804688 1178.067138671875 L 574.0463256835938 1182.6533203125 C 564.6935424804688 1172.2734375 555.6509399414063 1161.3583984375 547.1688842773438 1150.21533203125 L 552.6227416992188 1146.064208984375 C 560.9926147460938 1157.05810546875 569.9136352539063 1167.82470703125 579.1388549804688 1178.067138671875 Z M 475.1107788085938 999.7433471679688 C 479.4872436523438 1012.805114746094 484.4743041992188 1025.87109375 489.9353637695313 1038.577392578125 L 483.6373901367188 1041.283203125 C 478.1040649414063 1028.40478515625 473.0473022460938 1015.161071777344 468.6124877929688 1001.921325683594 L 475.1107788085938 999.7433471679688 Z M 528.8338012695313 1111.985595703125 L 523.0580444335938 1115.676025390625 C 515.5368041992188 1103.90576171875 508.3796997070313 1091.6220703125 501.8366088867188 1079.279541015625 L 507.8931274414063 1076.068603515625 C 514.3534545898438 1088.257568359375 521.4147338867188 1100.367919921875 528.8338012695313 1111.985595703125 Z">
		</path>
	</svg>
	<div id="Group_137">
		<div id="Group_134">
			<svg class="Path_226" viewBox="1017.526 336.608 49.472 422.964">
				<path fill="rgba(63,61,86,1)" id="Path_226" d="M 1031.762939453125 759.5721435546875 C 1031.360595703125 758.9150390625 1021.877990722656 743.081298828125 1018.590393066406 710.2022705078125 C 1015.574890136719 680.0374755859375 1017.513977050781 629.1922607421875 1043.8828125 558.267578125 C 1079.900390625 461.3924255371094 1057.995971679688 378.0080261230469 1042.675170898438 338.4631958007813 L 1045.789794921875 336.6079406738281 C 1050.491333007813 348.5072021484375 1055.9765625 364.9096984863281 1060.164794921875 384.5835876464844 C 1072.54541015625 442.9359436035156 1068.037109375 503.6083679199219 1047.1689453125 559.490234375 C 997.2991333007813 693.623046875 1034.37451171875 757.11962890625 1034.75439453125 757.7470703125 L 1031.762939453125 759.5721435546875 Z">
				</path>
			</svg>
			<svg class="Ellipse_40">
				<ellipse fill="rgba(52,132,253,1)" id="Ellipse_40" rx="22.7818603515625" ry="22.78190803527832" cx="22.7818603515625" cy="22.78190803527832">
				</ellipse>
			</svg>
			<svg class="Ellipse_41">
				<ellipse fill="rgba(63,61,86,1)" id="Ellipse_41" rx="22.7818603515625" ry="22.78190803527832" cx="22.7818603515625" cy="22.78190803527832">
				</ellipse>
			</svg>
			<svg class="Ellipse_42">
				<ellipse fill="rgba(52,132,253,1)" id="Ellipse_42" rx="22.7818603515625" ry="22.78190803527832" cx="22.7818603515625" cy="22.78190803527832">
				</ellipse>
			</svg>
			<svg class="Ellipse_44">
				<ellipse fill="rgba(63,61,86,1)" id="Ellipse_44" rx="22.7818603515625" ry="22.78190803527832" cx="22.7818603515625" cy="22.78190803527832">
				</ellipse>
			</svg>
			<svg class="Path_227" viewBox="1031.42 512.158 49.209 98.137">
				<path fill="rgba(63,61,86,1)" id="Path_227" d="M 1035.065063476563 610.2954711914063 C 1035.065063476563 610.2954711914063 1012.283203125 554.2169189453125 1080.628784179688 512.1580200195313 L 1035.065063476563 610.2954711914063 Z">
				</path>
			</svg>
			<svg class="Path_228" viewBox="965.802 533.837 90.617 59.127">
				<path fill="rgba(63,61,86,1)" id="Path_228" d="M 1056.418090820313 592.9644775390625 C 1056.418090820313 592.9644775390625 1046.0498046875 533.3297119140625 965.801513671875 533.8407592773438 L 1056.418090820313 592.9644775390625 Z">
				</path>
			</svg>
			<svg class="Ellipse_50">
				<ellipse fill="rgba(52,132,253,1)" id="Ellipse_50" rx="22.7818603515625" ry="22.78190803527832" cx="22.7818603515625" cy="22.78190803527832">
				</ellipse>
			</svg>
		</div>
		<svg class="Ellipse_53">
			<ellipse fill="rgba(52,132,253,1)" id="Ellipse_53" rx="9.7818603515625" ry="9.78190803527832" cx="9.7818603515625" cy="9.78190803527832">
			</ellipse>
		</svg>
		<svg class="Ellipse_55">
			<ellipse fill="rgba(63,61,86,1)" id="Ellipse_55" rx="14.2818603515625" ry="14.28190803527832" cx="14.2818603515625" cy="14.28190803527832">
			</ellipse>
		</svg>
	</div>
	<svg class="Path_248" viewBox="591.983 746.754 56.014 56.014">
		<path fill="rgba(47,46,65,1)" id="Path_248" d="M 619.989990234375 802.76806640625 C 604.522216796875 802.7681884765625 591.9830322265625 790.2291259765625 591.9830322265625 774.76123046875 C 591.9830322265625 759.29345703125 604.522216796875 746.754150390625 619.9901123046875 746.754150390625 C 635.4580078125 746.754150390625 647.9970703125 759.2933349609375 647.9970703125 774.76123046875 C 647.979248046875 790.2216796875 635.450439453125 802.7503662109375 619.989990234375 802.76806640625 Z M 619.989990234375 751.421875 C 607.10009765625 751.421875 596.6507568359375 761.8712158203125 596.6507568359375 774.7611083984375 C 596.6507568359375 787.65087890625 607.10009765625 798.1002197265625 619.989990234375 798.1002197265625 C 632.8797607421875 798.1002197265625 643.3291015625 787.65087890625 643.3291015625 774.7611083984375 C 643.31494140625 761.8770751953125 632.8739013671875 751.4359130859375 619.989990234375 751.421630859375 Z">
		</path>
	</svg>
	<svg class="blue_d" viewBox="0 0 4464.476 902.712">
		<linearGradient id="blue_d" spreadMethod="pad" x1="0.837" x2="0.377" y1="0.389" y2="0.389">
			<stop offset="0" stop-color="#579aff" stop-opacity="1"></stop>
			<stop offset="1" stop-color="#1a74fc" stop-opacity="1"></stop>
		</linearGradient>
		<path fill="url(#blue_d)" id="blue_d" d="M 406.229248046875 898.58740234375 C 1010.947509765625 841.677001953125 1167.98486328125 520.5465698242188 1965.917236328125 370.3313598632813 C 3090.2734375 158.6644287109375 4464.47607421875 437.1259460449219 4464.47607421875 437.1259460449219 L 4464.47607421875 65.98526000976563 C 4464.47607421875 65.98526000976563 2588.328125 -82.48138427734375 1910.242431640625 65.9852294921875 C 1297.1728515625 179.9035034179688 843.922607421875 533.636962890625 427.3095703125 581.8731079101563 C -215.6976318359375 682.0650634765625 -57.9708251953125 938.1876831054688 406.229248046875 898.58740234375 Z">
		</path>
	</svg>
</div>
